/*======================================
//--//-->   STYLES GENERALES
======================================*/
body {
  font-family: Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  background-color: #ffffff;
  color: #1b376a; }

h1, h2, h3, h4, h5, h6 {
  color: #1b376a; }

.bg-one {
  background-color: #1b376a; }

.bg-two {
  background-color: #291743; }

.bg-three {
  background-color: #1EB7FA; }

.bg-one-dark {
  background-color: #0b214b; }

.pt-6 {
  padding-top: 6rem; }

.py-6 {
  padding: 4rem 0; }

.z-index-2 {
  z-index: 2; }

.color-one {
  color: #1b376a; }

.color-white {
  color: #ffffff; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.bg-image, .bg-image-paralax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.bg-image-paralax {
  background-attachment: fixed; }

.bg-full {
  width: 100%;
  height: 100%; }

.cover-page {
  height: 22rem; }
  .cover-page .cover-title-wrap {
    height: 100%; }
  .cover-page .cover-title {
    color: #ffffff;
    font-size: 3.5rem; }

.card-shadow {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .card-shadow:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(11, 33, 75, 0.6); }

/*======================================
//--//-->   FORM
======================================*/
.form-white, .wpcf7 {
  max-width: none; }
  .form-white .custom-file-label, .wpcf7 .custom-file-label {
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #0b214b;
    border: 0.1rem solid #ffffff;
    border-radius: .25rem; }
    .form-white .custom-file-label::after, .wpcf7 .custom-file-label::after {
      content: "Buscar"; }

.form-control, .wpcf7 .wpcf7-validation-errors, .wpcf7 input[type=color], .wpcf7 input[type=date], .wpcf7 input[type=datetime-local], .wpcf7 input[type=datetime], .wpcf7 input[type=email], .wpcf7 input[type=file], .wpcf7 input[type=month], .wpcf7 input[type=number], .wpcf7 input[type=range], .wpcf7 input[type=search], .wpcf7 input[type=tel], .wpcf7 input[type=text], .wpcf7 input[type=time], .wpcf7 input[type=url], .wpcf7 input[type=week], .wpcf7 select, .wpcf7 textarea {
  color: #ffffff;
  background-color: #0b214b;
  border: 0.1rem solid #ffffff;
  height: auto;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out; }
  .form-control:focus, .wpcf7 .wpcf7-validation-errors:focus, .wpcf7 input[type=color]:focus, .wpcf7 input[type=date]:focus, .wpcf7 input[type=datetime-local]:focus, .wpcf7 input[type=datetime]:focus, .wpcf7 input[type=email]:focus, .wpcf7 input[type=file]:focus, .wpcf7 input[type=month]:focus, .wpcf7 input[type=number]:focus, .wpcf7 input[type=range]:focus, .wpcf7 input[type=search]:focus, .wpcf7 input[type=tel]:focus, .wpcf7 input[type=text]:focus, .wpcf7 input[type=time]:focus, .wpcf7 input[type=url]:focus, .wpcf7 input[type=week]:focus, .wpcf7 select:focus, .wpcf7 textarea:focus {
    color: #ffffff;
    background-color: #0b214b;
    border-color: #1b376a;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(124, 0, 140, 0);
    /*@if $enable-shadows {
          box-shadow: $input-box-shadow, $input-focus-box-shadow;
        } @else {
          box-shadow: $input-focus-box-shadow;
        }*/ }
  .form-control::placeholder, .wpcf7 .wpcf7-validation-errors::placeholder, .wpcf7 input[type=color]::placeholder, .wpcf7 input[type=date]::placeholder, .wpcf7 input[type=datetime-local]::placeholder, .wpcf7 input[type=datetime]::placeholder, .wpcf7 input[type=email]::placeholder, .wpcf7 input[type=file]::placeholder, .wpcf7 input[type=month]::placeholder, .wpcf7 input[type=number]::placeholder, .wpcf7 input[type=range]::placeholder, .wpcf7 input[type=search]::placeholder, .wpcf7 input[type=tel]::placeholder, .wpcf7 input[type=text]::placeholder, .wpcf7 input[type=time]::placeholder, .wpcf7 input[type=url]::placeholder, .wpcf7 input[type=week]::placeholder, .wpcf7 select::placeholder, .wpcf7 textarea::placeholder {
    color: #ffffff;
    opacity: 1; }

/*======================================
//--//-->   BUTTON
======================================*/
.btn-big, .wpcf7 input[type=submit] {
  background-color: white;
  color: #1b376a;
  border-radius: 4rem;
  font-weight: bold;
  border-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
  font-size: 1.6rem;
  padding: .4rem 2.3rem;
  height: auto;
  width: auto; }
  .btn-big:hover, .wpcf7 input[type=submit]:hover {
    background-color: #1b376a;
    border-color: #1b376a; }
  .btn-big:focus, .wpcf7 input[type=submit]:focus {
    box-shadow: 0 0 0 0.2rem rgba(27, 55, 106, 0.5); }

.btn-big-lg {
  padding: 1rem 2rem; }

.btn-big-md {
  background-color: #1b376a;
  color: #ffffff;
  padding: .3rem 2rem;
  font-size: 1.2rem;
  border-color: #1b376a; }

/*======================================
//--//-->   ICON
======================================*/
.icon-my {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  border-radius: .375rem;
  width: 2rem;
  height: 2rem;
  color: #ffffff; }

.rounded-circle {
  border-radius: 50%; }

.icon-my-lg {
  width: 3rem;
  height: 3rem; }

/*======================================
//--//-->   NAVBAR
======================================*/
.navbar-ltda .dropdown-item {
  color: #1b376a;
  font-weight: bold; }

@media (min-width: 768px) {
  .navbar-ltda .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem; } }

@media (max-width: 992px) {
  .navbar-ltda .logo-wrap, .navbar-ltda .box-toggle {
    width: 100%; } }

.navbar-ltda .navbar-toggler {
  background-color: #1b376a; }
  .navbar-ltda .navbar-toggler .navbar-toggler-icon {
    color: #ffffff; }

.navbar-ltda .box-menu {
  width: 100%; }

.navbar-ltda .logo-text {
  color: #000000;
  font-weight: bold;
  font-size: 1.2rem; }

@media (min-width: 768px) {
  .navbar-ltda .nav-item {
    padding-right: 0.5rem;
    padding-left: 0,5rem; } }

.navbar-ltda .nav-link {
  transition: all .31s ease-in-out;
  position: relative;
  font-weight: bold;
  color: #000000; }
  .navbar-ltda .nav-link:before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    background-color: #1b376a;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-out, opacity .3s ease-out 0.3s; }
  .navbar-ltda .nav-link:hover {
    color: #1b376a; }
    .navbar-ltda .nav-link:hover:before {
      transform: scaleX(1);
      transform-origin: left; }

.navbar-ltda .show > .nav-link:before,
.navbar-ltda .active > .nav-link:before,
.navbar-ltda .nav-link.show:before,
.navbar-ltda .nav-link.active:before {
  transform: scaleX(1); }

/*======================================
//--//-->   OWL CAROUSEL
======================================*/
.carousel-home.nav-arrow-one {
  position: relative; }
  .carousel-home.nav-arrow-one .owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    left: 4rem; }

.nav-arrow-one .owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px; }
  .nav-arrow-one .owl-theme .owl-dots .owl-dot {
    display: inline-block; }
    .nav-arrow-one .owl-theme .owl-dots .owl-dot span {
      margin: 5px 5px;
      height: 15px;
      width: 15px;
      background: #1b376a;
      border: 0px solid #1b376a;
      display: block;
      transition: all 0.6s ease-in-out;
      cursor: pointer; }
    .nav-arrow-one .owl-theme .owl-dots .owl-dot:hover span {
      background-color: #ffffff; }
    .nav-arrow-one .owl-theme .owl-dots .owl-dot.active span {
      background-color: #ffffff; }

.nav-arrow-one .owl-arrow .owl-nav {
  font-size: 1.8rem; }
  .nav-arrow-one .owl-arrow .owl-nav .owl-next {
    margin-left: 15px; }
  .nav-arrow-one .owl-arrow .owl-nav .owl-prev, .nav-arrow-one .owl-arrow .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11);
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    border-radius: 0;
    transition: .7s; }
    .nav-arrow-one .owl-arrow .owl-nav .owl-prev:hover, .nav-arrow-one .owl-arrow .owl-nav .owl-next:hover {
      background-color: #0b214b;
      color: #ffffff; }

.nav-arrow-one .owl-arrow .owl-prev {
  left: 0; }

.nav-arrow-one .owl-arrow .owl-next {
  right: 0; }

.clients .owl-arrow .owl-nav .owl-prev, .clients .owl-arrow .owl-nav .owl-next, .carousel-home .owl-arrow .owl-nav .owl-prev, .carousel-home .owl-arrow .owl-nav .owl-next {
  background-color: #1b376a; }

.testimonials .owl-arrow .owl-dots .owl-dot span {
  background: #1b376a;
  border: 0px solid #1b376a; }

.testimonials .owl-arrow .owl-dots .owl-dot.active span {
  background-color: #1EB7FA; }

.testimonials .owl-arrow .owl-nav .owl-prev, .testimonials .owl-arrow .owl-nav .owl-next {
  background-color: #1b376a;
  color: #ffffff;
  border-color: #1b376a;
  border-radius: 0; }
  .testimonials .owl-arrow .owl-nav .owl-prev:hover, .testimonials .owl-arrow .owl-nav .owl-next:hover {
    background-color: #1b376a;
    color: #ffffff; }

.testimonials .owl-arrow .owl-prev {
  left: -5px; }

.testimonials .owl-arrow .owl-next {
  right: -5px; }

.testimonials .owl-arrow .owl-prev, .carousel-home .owl-arrow .owl-prev {
  left: -5px; }

.testimonials .owl-arrow .owl-next, .carousel-home .owl-arrow .owl-next {
  right: -5px; }

/*======================================
//--//-->   CAROUSEL
======================================*/
.carousel-wrap {
  padding: 2rem 4rem; }

.carousel-box {
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
  padding: 2rem; }
  .carousel-box .title, .carousel-box .subtitle {
    font-size: 1.5rem; }
  .carousel-box .box-languaje {
    background-color: #1EB7FA;
    opacity: 1;
    color: #ffffff;
    padding: .5rem;
    font-weight: bold;
    text-align: center; }
    .carousel-box .box-languaje .languaje {
      opacity: 1;
      margin-bottom: 0;
      font-size: 1.1rem; }

/*======================================
//--//-->   HOME INFO
======================================*/
.info-home {
  color: #1b376a; }
  .info-home .title {
    color: #1b376a;
    font-weight: bold; }
  .info-home .info {
    font-size: 1.2rem; }

.info-home-two .box-home-two {
  color: #1b376a; }
  .info-home-two .box-home-two .title {
    color: #1b376a;
    font-weight: bold; }

/*======================================
//--//-->   HOME CONTACT
======================================*/
.home-contact .contact-box {
  background-color: #0b214b;
  color: #ffffff; }
  .home-contact .contact-box .title {
    color: #ffffff;
    font-size: 2.5rem; }

@media (max-width: 768px) {
  .image-public {
    position: relative;
    height: 700px; } }

/*======================================
//--//-->   COURSE
======================================*/
.course {
  background-color: #1b376a;
  color: #ffffff;
  padding: 4rem 0 7rem 0;
  position: relative; }
  .course .course-box .ico-box .ico {
    border: 0.3rem solid #ffffff;
    border-radius: 50%;
    width: 150px;
    height: 150px; }
  .course .course-box .ico-box .ico-img {
    width: 70px; }
  .course .course-box .title {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem; }
  .course .course-box a {
    text-decoration: none; }
  .course .course-link-box {
    position: absolute;
    bottom: -37px;
    left: 0;
    right: 0;
    margin: auto; }

/*======================================
//--//-->   FOCUS
======================================*/
.focus .focus-img img {
  border-radius: 50%;
  width: 450px;
  height: 450px; }

.focus .focus-box .title {
  font-weight: bold; }

.focus .focus-box .content {
  font-size: 1.2rem; }

.focus .fucus-footer .ico-box {
  widows: 200px; }

.focus .focus-ico-wrap .ico-box .ico {
  border: 0.3rem solid #1EB7FA;
  border-radius: 50%;
  width: 200px;
  height: 200px; }

/*======================================
//--//-->   TESTIMONIALS
======================================*/
.testimonial-main {
  background-color: #ffffff;
  color: #1b376a; }
  .testimonial-main .title {
    color: #1b376a; }
  .testimonial-main .testimonial-footer, .testimonial-main .title {
    font-weight: bold; }

/*======================================
//--//-->   FOOTER
======================================*/
footer .footer-menu-wrap {
  border-bottom: 2px solid #7d92b8; }
  footer .footer-menu-wrap .text-logo {
    font-size: 1.5rem; }

footer .footer-menu {
  width: 100%;
  height: 100%; }

footer .nav-footer {
  font-size: .9rem; }
  footer .nav-footer .nav-link {
    color: #000000; }

footer .tbk img {
  max-width: 30%;
  height: auto; }

.up {
  font-size: 1.5rem;
  cursor: pointer;
  position: fixed;
  display: flex;
  bottom: 20px;
  right: 20px;
  z-index: 4;
  scroll-behavior: smooth;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.11); }

/*======================================
//--//-->   SOBRE NOSOTROS
======================================*/
.staff {
  background-color: #EFEFEF; }
  .staff .card {
    background-color: #EFEFEF;
    border: 0;
    text-align: center;
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-bottom: .5rem; }

[data-toggle="collapse"].collapsed .if-not-collapsed {
  display: none; }

[data-toggle="collapse"]:not(.collapsed) .if-collapsed {
  display: none; }

/*======================================
//--//-->   CURSOS
======================================*/
.course-info .content {
  font-size: 1.2rem; }

.process {
  background-color: #EFEFEF; }
  .process .ico-box {
    width: 5rem; }

/*======================================
//--//-->   PROMOTIONAL
======================================*/
.message-text {
  color: #ffffff;
  font-size: 1.2rem; }

.process-promotional .subtitle {
  font-size: 1.6rem; }

.process-promotional .process-content-box .content {
  list-style: none; }

.process-promotional .process-content-box .content .content-list::before {
  content: "\2022";
  color: #1EB7FA;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  margin-bottom: .6rem; }

.process-promotional .process-content-box .sub-list li {
  list-style-type: none;
  margin-bottom: .1rem; }

.promotional-ul {
  list-style: none; }
  .promotional-ul li {
    font-size: 1.1rem; }
    .promotional-ul li::before {
      content: "\2022";
      color: #1EB7FA;
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
      margin-bottom: .6rem; }

.contact-promotional {
  color: #ffffff; }
  .contact-promotional .title {
    color: #ffffff; }
  .contact-promotional .info {
    font-size: 1.7rem; }
  .contact-promotional .info-2 {
    font-size: 1.5rem; }

/*======================================
//--//-->   WORK
======================================*/
.contact-work {
  color: #ffffff; }
  .contact-work .title {
    color: #ffffff; }
  .contact-work .info {
    font-size: 1.7rem; }
  .contact-work .info-2 {
    font-size: 1.5rem; }

/*======================================
//--//-->   COURSES
======================================*/
.info-box-course {
  font-size: 1.3rem; }

.table-gray-two {
  background-color: #EFEFEF;
  color: #1b376a;
  border: 2px solid #ffffff; }
  .table-gray-two .title {
    font-size: 2rem; }
  .table-gray-two .label-cell {
    text-align: center;
    transform: rotate(-90deg);
    height: 130px;
    font-weight: bold; }
  .table-gray-two .label-box {
    width: 100px;
    height: 180px; }
  .table-gray-two .label-span {
    display: inline-block;
    bottom: 0;
    margin: 0 0 20px 10px;
    padding: 0;
    width: 20px;
    height: 20px;
    transform: rotate(-90deg);
    transform-origin: left;
    font-size: 20px;
    font-size: 1.11111rem;
    text-align: left;
    white-space: nowrap; }
  .table-gray-two td, .table-gray-two th {
    vertical-align: inherit;
    border: 4px solid #ffffff; }
  .table-gray-two .wd {
    width: 4rem; }
